hidden = [".iex.exs", ".mix", "_build"]

entrypoint = "test"

[interpreter]
command = ["iex", "-S", "mix"]

[env]
LC_ALL = "en_US.UTF-8"
HEX_HOME = "/home/runner/${REPL_SLUG}/.hex"
MIX_HOME = "/home/runner/${REPL_SLUG}/.mix"

[nix]
channel = "stable-21_11"